#ignore pycache files
__pycache__/
#ignore pyc files
*.pyc
#ignore env
env/
#ignoring everything in the video_data folder
assets/video_data/*
#ignoring everything in the letters folder
assets/letters/*
#ignoring everything in the vector_dbs folder
vector_dbs/*
#ignoring everything in the books folder
assets/books/*