#ignore pycache files
__pycache__/
#ignore pyc files
*.pyc
#ignoring everything in the video_data folder
video_data/*
#ignoring everything in the letters folder
letters/*
#ignoring everything in the vector_dbs folder
vector_dbs/*